.orangebar {
  background-color: orange;
  color: white;
}

sssxxx .rodape {
  background-color: #454545;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 2rem;
  color: White;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.submenup {
  background-color: rgb(233, 233, 233);
  padding-top: 30px;
  padding-bottom: 30px;
}

.conteudo {
  padding-top: 30px;
  padding-bottom: 30px;
}