/*div {
  background-color: rgba(78, 58, 255, 0.3);
}
*/

header {
  background-color: orange;
  margin: 0px;
  padding: 0px;
}

.rodape {
  background-color: #454545;
  color: white;
  padding: 20px;
}
